<div class="manage-alarms">
    {{#touch-to destination='index' class="nav fa fa-clock-o"}}{{/touch-to}}
    {{#touch-to destination='new' class="add-alarm fa fa-plus"}}{{/touch-to}}

    <ul class="alarms-list">
        {{#each model as |alarm|}}
            {{alarm-item alarm=alarm deleteAlarm='deleteAlarm' editAlarm='editAlarm'}}
        {{/each}}
    </ul>
</div>
